* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    width: 100dvw;
    height: 100dvh;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100dvw;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header div {
    display: flex;
    flex-direction: row;
    width: 100dvw;
    gap: 36px;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #6C6C6C;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.main {
    display: flex;
    width: 100dvw;
    height: 100dvh;
}

.image-perfil {
    width: 136px;
    height: 136px;
    border-radius: 100%;
}